@model IEnumerable<YuGiOhDeckEditor.Entities.CardsInfo>

<!-- Search form -->
<form method="get" action="@Url.Action("Index", "Card")">
    <input type="text" name="searchQuery" placeholder="Search by card name" value="@ViewData["SearchQuery"]" />
    <button type="submit">Search</button>
</form>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var card in Model)
        {
            <li>
                <strong>@card.Name</strong><br />
                Type: @card.Type<br />
                Description: @card.Description<br />
                Attribude: @card.Attribute<br/>
                Attack: @card.AttackPoints<br />
                Defense: @card.DefencePoints<br />
                <!-- Display other card details as needed -->
            </li>
        }
    </ul>
}
else
{
    <p>No cards found for your search.</p>
}
