@model IEnumerable<YuGiOhDeckEditor.Entities.CardsInfo>

<link rel="stylesheet" href="~/css/Cards.css" />

<!-- Search form -->
<form method="get" action="@Url.Action("Index", "Card")">
	<!-- Label above the search bar -->
	<label for="searchQuery" style="font-size: 18px; font-weight: bold;">Search Cards:</label>

	<!-- Search input field -->
	<input type="text" id="searchQuery" name="searchQuery" placeholder="Enter card name" value="@ViewData["SearchQuery"]" />

	<!-- Search button -->
	<button type="submit">Search</button>

</form>

@if (Model != null && Model.Any())
{
	var card = Model.FirstOrDefault();
    if (card.Type.Contains("Pendulum", StringComparison.OrdinalIgnoreCase))
    {
        <form method="get" action="@Url.Action("PendulumDetails", "Card")">
            <button type="submit" class="btn btn-primary">Learn More</button>
        </form>
    }
    else if (card.Type.Contains("XYZ", StringComparison.OrdinalIgnoreCase))
    {
        <form method="get" action="@Url.Action("XYZDetails", "Card")">
            <button type="submit" class="btn btn-primary">Learn More</button>
        </form>
    }
    else if (card.Type.Contains("Synchro", StringComparison.OrdinalIgnoreCase))
    {
        <form method="get" action="@Url.Action("SynchroDetails", "Card")">
            <button type="submit" class="btn btn-primary">Learn More</button>
        </form>
    }
    else if (card.Type.Contains("Fusion", StringComparison.OrdinalIgnoreCase))
    {
        <form method="get" action="@Url.Action("FusionDetails", "Card")">
            <button type="submit" class="btn btn-primary">Learn More</button>
        </form>
    }
	<ul>
		<li>
			<strong>@card.Name</strong><br />
			Type: @card.Type<br />
			Attribute: @card.Attribute<br />
			Typing: @card.Typing<br />
			Level/Rank: @card.Scale<br />
			Attack: @card.AttackPoints<br />
			Defense: @card.DefencePoints<br />
			Description: @card.Description<br />
		</li>
	</ul>
}
else
{
	<p>No cards found for your search.</p>
}
