@model IEnumerable<YuGiOhDeckEditor.Entities.CardsInfo>

<h2>Card List</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Attribute</th>
            <th>Attack Points</th>
            <th>Defense Points</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model)
        {
            <tr>
                <td>@card.Name</td>
                <td>@card.Type</td>
                <td>@card.Attribute</td>
                <td>@card.AttackPoints</td>
                <td>@card.DefencePoints</td>
                <td>@card.Description</td>
            </tr>
        }
    </tbody>
</table>