@model YuGiOhDeckEditor.Entities.DeckInfo

<h2>Deck: @Model.Name</h2>
<p>@Model.Description</p>

<h3>Cards:</h3>
@if (Model.Cards != null && Model.Cards.Any())
{
    <ul>
        @foreach (var card in Model.Cards)
        {
            <li>
                <strong>@card.Name</strong> - @card.Type<br />
                ATK: @card.AttackPoints | DEF: @card.DefencePoints
            </li>
        }
    </ul>
}
else
{
    <p>No cards added to this deck yet.</p>
}
