@model IEnumerable<Core.Entities.CardsInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attribute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelOrRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TCGDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OCGDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PendulumDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttackPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefencePoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attribute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelOrRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archetype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TCGDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OCGDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PendulumDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttackPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefencePoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
